$popup_width: 330;
$selected_date_color:#5d0b49;
$date_hover_color:rgba(0, 0, 0, 0.3);
$row_height:46;
$black_87:rgba(0, 0, 0, 0.87);
$black_54:rgba(0, 0, 0, 0.54);
.aj_datepicker_element {
    display: inline;
}

.aj_datepicker_popup {
    position: fixed;
    z-index: 100;
    font-family: 'Open sans', 'sans serif';
    font-style: normal;
    width: $popup_width+px;
    max-width: $popup_width+px;
    border-radius: 2px;
    box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3), 0 15px 12px 0 rgba(0, 0, 0, 0.22);
    border: solid 0.5px transparent;
    background-image: linear-gradient(#fafafa, #fafafa), linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    .aj_monthly_container {
        padding: 4px;
        z-index: 100;
        .aj_row {
            height: $row_height+px;
            max-height: $row_height+px;
            align-items: center;
            display: flex;
            flex-direction: row;
        }
        .aj_col {
            width: (($popup_width - 8) / 7) + px;
            max-width: (($popup_width - 8) / 7) + px;
            height: (($popup_width - 8) / 7) + px;
            max-height: (($popup_width - 8) / 7) + px;
            display: inline-block;
            align-items: center;
            display: flex;
            flex-direction: row;
            &.center {
                justify-content: center;
            }
        }
        .aj_month_container {
            height: $row_height+px;
            max-height: $row_height+px;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .left_arrow,
            .right_arrow {
                display: inline-block;
                outline: none;
                height: 36px;
                width: 36px;
                border: none;
                background: transparent;
                cursor: pointer;
                .material-icons {
                    color: black;
                    opacity: 0.54;
                }
            }
            .aj_month_year {
                font-size: 14px;
                font-weight: 600;
                color: $black_87;
                font-style: normal;
            }
        }
        .aj_week_names_container {
            .aj_week_name {
                text-align: center;
                color: $black_54;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
            }
        }
        .aj_days_container {
            .aj_date {
                border-radius: 50%;
                font-size: 12px;
                color: $black_87;
                cursor: pointer;
                font-style: normal;
                &.selected {
                    background-color: $selected_date_color;
                    color: white;
                }
                &:hover {
                    background-color: $date_hover_color;
                }
                &.disabled {
                    pointer-events: none;
                    color: $black_54;
                }
            }
        }
    }
    .aj_datepicker_backdrop {
        // height:20px;
        // width:20px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $black_54;
        z-index: 99;
    }
}

.aj_datepicker_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}