$popup_width: 330;
.aj_datepicker_popup {
    width: $popup_width+px;
    max-width: $popup_width+px;
    border-radius: 2px;
    box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3), 0 15px 12px 0 rgba(0, 0, 0, 0.22);
    border: solid 0.5px transparent;
    background-image: linear-gradient(#fafafa, #fafafa), linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    .aj_monthly_container {
        padding: 4px;
        .aj_row {
            height: 42px;
            max-height: 42px;
            align-items: center;
            display: flex;
            flex-direction: row;
        }
        .aj_col {
            width: (($popup_width - 8) / 7) + px;
            max-width: (($popup_width - 8) / 7) + px;
            height: (($popup_width - 8) / 7) + px;
            max-height: (($popup_width - 8) / 7) + px;
            display: inline-block;
            align-items: center;
            display: flex;
            flex-direction: row;
            &.center {
                justify-content: center;
            }
        }
        .aj_month_container {
            min-height: 42px;
            max-height: 42px;
            border: 1px solid black;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .left_arrow,
            .right_arrow {
                display: inline-block;
                outline: none;
                height: 36px;
                width: 36px;
                border: none;
                background: transparent;
            }
        }
        .aj_week_names_container {
            .aj_week_name {
                font-family: 'Open Sans', 'sans serif';
                font-size: 12px;
                text-align: center;
                color: rgba(0, 0, 0, 0.54);
            }
        }
    }
}